@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
:root{
    --Preto: #1E1E1E;
    --Preto_Segundario: #313131;
    --Branco: #FBFBFB;
    --Cinza_Fundo: #F2F1F1;
    --Cinza_Letras: #B1AFAF;
    --Azul: #1A46CF;
    --Amarelo: #FFC300;
    --Vermelho: #F82323;
    --Roxo: #D600F9;
}
body, html {
    background-color: var(--Cinza_Fundo);
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-family: 'Poppins', sans-serif;
}