@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
:root{
    --Preto: #1E1E1E;
    --Preto_Segundario: #313131;
    --Branco: #ffffff;
    --Cinza_Fundo: #F2F1F1;
    --Cinza_Letras: #B1AFAF;
    --Azul: #1A46CF;
    --Amarelo: #FFC300;
    --Vermelho: #F82323;
    --Roxo: #D600F9;
}
body, html {
    background-color: var(--Cinza_Fundo);
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
#div-voltar{
    width: 100%;
    height: 3vh;
    display: flex;
    align-items: center;
    margin-top: 2vh;
   }
#div-voltar a{
       outline: none;
   }
#div-voltar h1{
       font-size: 20px;
       color: var(--Preto);
       margin-left: 3vw;
}
#centralizar{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#div-perfil{
    width: 95%;
    height: 95%;
    background-color: var(--Branco);
    -webkit-box-shadow:0px 0px 14px 0px rgba(49,49,49,0.34);
    -moz-box-shadow: 0px 0px 14px 0px rgba(49,49,49,0.34);
     box-shadow: 0px 0px 14px 0px rgba(49,49,49,0.34);
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
}
#editar-perfil{
width: 100%;
height: 6vh;
display: flex;
align-items: center;
justify-content: end;
}
#editar-perfil img{
    width: 2%;
    margin-right: 3vh;
}
#img-perfil{
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#img-usuario{
    width: 13.50vw;
    height: 13.50vw;
    border-radius: 50%;
    background-image: url(../Assets/imgs/foto-usuario-perfil.svg);
    background-size: 100%;
}
#img-perfil h1{
   font-size: 30px;
   font-weight: bolder;
}
#informacoes-usuario{
width: 100%;
height: 15%;
display: flex;
align-items: center;
justify-content: center;
}
#metas-realizadas{
    width: 33.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#metas-realizadas h2{
    font-size: 20px;
}
#horas-foco{
    width: 33.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#horas-foco h2{
    font-size: 20px;
}
#conquistas{
    width: 33.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#conquistas h2{
    font-size: 20px;
}
#efeitos{
    width: 100%;
    height: 23%;
    background-image: url(../Assets/imgs/effect.svg);
    background-size: 100%;
}