@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
:root{
    --Preto: #1E1E1E;
    --Preto_Segundario: #313131;
    --Branco: #FBFBFB;
    --Cinza_Fundo: #F2F1F1;
    --Cinza_Letras: #B1AFAF;
    --Azul: #1A46CF;
    --Amarelo: #FFC300;
    --Vermelho: #F82323;
    --Roxo: #D600F9;
}
body, html {
    background-color: var(--Cinza_Fundo);
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-family: 'Poppins', sans-serif;
}
#nav-bar{
    margin: 3vh 5px 0px 5px;
    width: 99%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-bar h1{
color: #1A46CF;
font-size: 20px;
margin-left: 30px;
}
#nav-bar img{
    width: 40px;
    margin-right: 30px;
}
#centralizar-metas{
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
}
#metas-usuario{
    width: 95%;
    height: 100%;
    background-color: var(--Branco);
    border-radius: 15px;
    /* responsaveis pelo efeito de iluminação */
    -webkit-box-shadow:0px 0px 14px 0px rgba(49,49,49,0.34);
    -moz-box-shadow: 0px 0px 14px 0px rgba(49,49,49,0.34);
     box-shadow: 0px 0px 14px 0px rgba(49,49,49,0.34);
}
#metas-usuario-parte-superior{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
#metas-usuario-parte-superior h1{
    font-size: 20px;
    margin-left: 15px;
}
#metas-usuario-parte-superior img{
    width: 50%;
    margin-right: 15px;
}
#metas-usuario-parte-superior a{
    outline: none;
}
#metas-grafico{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#metas{
    width: 50%;
    height: 90%;
}
.metas-checkbox{
    width: 99%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}
.metas-checkbox h2{
    font-size: 18px;
    margin-left: 4px;
}
.metas-checkbox input{
    border-color: var(--Preto);
    border: 2px solid var(--Preto);
    outline: none;
}
input:focus{
    color: var(--Preto);
}
#grafico{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
}
#grafico img{
    width: 40%;
    height: 85%;
    margin-left: 40%;
}
#div-centralizar-cards{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
}
#div-cards{
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#card-historico{
   width: 18%;
   height: 40vh;
   background-color: var(--Azul);
   border-radius: 10px;
}
#card-calendario{
    width: 18%;
    height: 40vh;
    background-color: var(--Amarelo);
    border-radius: 10px;
}
#card-foco{
    width: 18%;
    height: 40vh;
    background-color: var(--Vermelho);
    border-radius: 10px;
}
#card-conquista{
    width: 18%;
    height: 40vh;
    background-color: var(--Roxo);
    border-radius: 10px;
}
.parte-superior-cards{
width: 100%;
height: 30%;
}
.parte-superior-cards h1{
    font-size: 17px;
    color: var(--Branco);
    margin-left: 5px;
}
#parte-inferior-cards-historico{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#parte-inferior-cards-historico img{
width: 50%;
}
#parte-inferior-cards-calendario{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#parte-inferior-cards-calendario img{
    width: 85%;
}
#parte-inferior-cards-foco{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#parte-inferior-cards-foco img{
    width: 85%;
}
#parte-inferior-cards-conquista{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#parte-inferior-cards-conquista img{
    width: 85%;
}
#div-relatorio-do-dia{
    width: 100%;
    height: 55%;
    margin-top: 5vh;
}
#titulo-relatorio{
    width: 100%;
    height: 10%;
}
#titulo-relatorio h1{
    font-size: 20px;
    margin-left: 20px;
}
#cards-relatorio{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.divs-relatorios{
    width: 35%;
    height: 50vh;
    background-color: var(--Branco);
    border-radius: 10px;
    -webkit-box-shadow:0px 0px 14px 0px rgba(49,49,49,0.34);
    -moz-box-shadow: 0px 0px 14px 0px rgba(49,49,49,0.34);
     box-shadow: 0px 0px 14px 0px rgba(49,49,49,0.34);
     margin-top: 5vh;
    
}
#div-clima-superior{
width: 100%;
height: 40%;
display: flex;
align-items: center;
justify-content: space-between;
}
#div-clima-inferior{
    width: 100%;
    height: 60%;
}
#img-clima{
    width: 20%;
    height: 100%;
}
#img-clima img{
    width: 80%;
    margin: 15px 0px 0px 15px;
}
#clima-escrita{
 width: 68%;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-right: 15%;
}
#temperatura{
    font-size: 35px;
}
#sensacao{
    font-size: 15px;
    color: var(--Cinza_Letras);
}
#dia-semana{
    font-size: 20px;
}
hr{
    border-top: 1px solid var(--Cinza_Letras);
}
#div-clima-inferior{
width: 100%;
height: 60%;
}
.previsao-umidade{
    width: 100%;
    height: 50%;
}
#titulo-tempo{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 15px;
}
#titulo-tempo-umidade{
    font-size: 20px;
    margin-left: 10px;
}
.sub-titulo{
    font-size: 18px;
    margin-left: 10px;
}
#div-palavra-superior{
width: 100%;
height: 40%;
display: flex;
align-items: center;
justify-content: space-between;
}
#div-palavra-inferior{
    width: 100%;
    height: 60%;
}
#img-palavra{
    width: 20%;
    height: 100%;
}
#img-palavra img{
    width: 80%;
    margin: 15px 0px 0px 15px;
}
#palavra-escrita{
 width: 68%;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-right: 15%;
}
#palavra{
    font-size: 25px;
}
#div-palavra-inferior{
    width: 100%;
    height: 60%;
    }
    .tamanho-palavra{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .palavra-do-dia{
        font-size: 18px;
        margin-left: 10px;
    }
#div-centralizar-noticias{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}
#titulo-div-noticia{
width: 100%;
height: 10%;
margin-top: 20px;
}
#titulo-div-noticia h1{
    font-size: 22px;
    margin-left: 20px;
}
#foto-e-manchete{
    width: 85%;
    height: 70vh;
    background-color: var(--Branco);
    border-radius: 10px;
    -webkit-box-shadow:0px 0px 14px 0px rgba(49,49,49,0.34);
    -moz-box-shadow: 0px 0px 14px 0px rgba(49,49,49,0.34);
     box-shadow: 0px 0px 14px 0px rgba(49,49,49,0.34);
}
#foto{
    width: 100%;
    height: 75%;
    background-image: url(../Assets/imgs/foto-manchete.png);
    border-radius: 10px;
}
#manchete{
    width: 100%;
    height: 15%;
}
#manchete h1{
     font-size: 30px;
     margin: 10px 10px 0px 10px;
}
#manchete-escrita{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#manchete-escrita h2{
    font-size: 20px;
    margin: 3vh 10px 0px 10px;
}
footer{
    background-color: var(--Branco);
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9vh;
}
footer img{
    width: 10%;
}


